body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  border-bottom: 1px solid black;
  padding: 1vh;
  align-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 100px;
}

.burger-menu-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu {
  width: 37px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.burger-line {
  width: 35px;
  height: 4px;
  border-radius: 50px;
  background-color: #000;
  transition: transform 0.3s ease;
}

.open .burger-line:first-child {
  transform: translateY(10px) rotate(45deg);
}

.open .burger-line:nth-child(2) {
  opacity: 0;
  align-self: center;
  justify-self: center;
}

.open .burger-line:last-child {
  transform: translateY(-11px) rotate(-45deg);
  align-self: center;
  justify-self: center;
}

.burger-menu-background {
  font-size: larger;
  position: relative;
  top: 0%;
  right: 0%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.menu-options {
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
  border-radius: 9px;
  color: black;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px; /* Adds some right margin for spacing */
}

.menu-options:hover {
  background-color: #21212155;
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(238, 238, 238);
}

.home h6 {
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: 100;
}

.home p {
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
}

.home_page_logo {
  height: 100px;
  width: 400px;
  padding: 2px;
}

.buttons_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.language-button-homepage {
  display: block;
  text-decoration: none;
  background-color: rgb(225, 225, 225);
  margin: 1rem;
  border-radius: 100rem;
  padding: 1.5rem;
  border: 0px;
  position: relative;
}

.language-button-homepage p {
  font-size: 2vh;
  color: black;
}

.language-button-homepage:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  z-index: 1;
  transform: scale(1.05);
  transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
}

.language-button-homepage:active {
  background-color: antiquewhite;
}

.button-image {
  height: 20vh;
}

.clicked .button-image {
  animation: spin-scale 1.5s linear;
  transform-origin: center;
}

@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(180deg) scale(12);
  }
}

.language-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.words-list {
  background-color: rgb(238, 238, 238);
  list-style: none;
  padding: 0;
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
}

.word {
  border-bottom: black 0.4rem solid;
  border-radius: 8rem;
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  margin-top: 15rem;
  margin-bottom: 30rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.correctWord {
  border-bottom: rgb(23, 98, 23) 0.4rem solid;
  border-radius: 8rem;
  background-color: rgb(250, 250, 250);
  margin-top: 15rem;
  margin-bottom: 30rem;
  margin-left: 20rem;
  margin-right: 20rem;
  transition: border-top 0.5s;
}

.words-list-item {
  list-style: none;
  background-color: rgb(250, 250, 250);
  border: rgb(250, 250, 250) solid 3px;
  border-radius: 4rem;
  margin: 2rem;
  padding: 1rem;
  font-size: large;
  font-weight: 300;
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
}

.words-list-item:hover {
  background-color: rgb(235, 235, 235);
}

.words-list-title {
  border: rgba(63, 184, 63, 0) solid 3px;
  font-size: larger;
  font-weight: bold;
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
}

.correct-answer {
  border: rgb(23, 98, 23) solid 3px;
  font-weight: bold;
}

.incorrect-answer {
  border: red solid 3px;
}

.new_round_button {
  font-size: medium;
  margin: 10px;
  border-radius: 20px;
  border: 0;
  padding: 10px;
  background-color: #212121;
  color: rgb(214, 214, 214);
}

.new_round_button:hover {
  cursor: pointer;
  color: #212121;
  background-color: rgb(214, 214, 214);
}

.home {
  list-style: none;
}

.footer-container {
  display: grid;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  height: auto;
  background-color: #212121;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-menu-list {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-menu-options {
  text-decoration: none;
}

.footer-menu-options p {
  width: 90px;
  margin-left: 50px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  text-decoration: none;
  order: 0;
  color: rgb(214, 214, 214);
  text-align: left;
  font-family: "Nabla", cursive;
  font-family: "Poppins", sans-serif;
}

.footer-menu-options p:hover {
  color: white;
}

.footer_logo {
  width: 130px;
  justify-self: center;
  align-self: center;
  order: 4;
  height: 120px;
}

.loading {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.loading_icon {
  height: 300px;
  align-self: center;
  justify-self: center;
  margin: 40px;
}

#Set1 {
  animation: firstScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes firstScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set2 {
  animation: secondScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.2s;
}

@keyframes secondScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set3 {
  animation: thirdScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.4s;
}

@keyframes thirdScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set4 {
  animation: fourthScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.6s;
}

@keyframes fourthScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set5 {
  animation: fifthScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.8s;
}

@keyframes fifthScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set6 {
  animation: sixthScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1s;
}

@keyframes sixthScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

#Set7 {
  animation: seventhScale 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1.2s;
}

@keyframes seventhScale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1);
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about_paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  height: 450px;
  width: 1000px;
  border-top: 2px solid #6060604f;
}

.about_line {
  width: 70vw;
  height: 2px;
  background-color: #6060604f;
  justify-self: center;
  align-self: center;
}

.about_paragraph p {
  color: #3a3a3a;
  border: 3px solid rgba(255, 0, 0, 0);
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  width: 540px;
  align-self: center;
  margin-left: 35px;
}

#about_bubble {
  transform-origin: center;
  animation: bubble_animation 2s ease; /* Added animation properties */
}

@keyframes bubble_animation {
  0% {
    transform: rotate(-180deg) scale(0); /* Start position */
  }
  80% {
    transform: rotate(-360deg) scale(1.1);
  }
  100% {
    transform: rotate(-360deg) scale(1); /* End position */
  }
}

#about_bubble_small {
  transform-origin: center center;
  animation: small_bubble_animation 2s ease;
}

@keyframes small_bubble_animation {
  0% {
    transform: rotate(180deg) scale(0); /* Start position */
  }
  80% {
    transform: rotate(360deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1); /* End position */
  }
}

#text1 {
  animation: texting_bubble_animation1 15s infinite;
  transform-origin: left top;
}

@keyframes texting_bubble_animation1 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#text2 {
  animation: texting_bubble_animation2 15s infinite;
  transform-origin: right center;
}

@keyframes texting_bubble_animation2 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#text3 {
  animation: texting_bubble_animation3 15s infinite;
  transform-origin: left center;
}

@keyframes texting_bubble_animation3 {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#text4 {
  animation: texting_bubble_animation4 15s infinite;
  transform-origin: right bottom;
}

@keyframes texting_bubble_animation4 {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

#dot1 {
  animation: dot_animation1 15s infinite;
}

@keyframes dot_animation1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  45% {
    transform: translateY(0%);
  }
  46.5% {
    transform: translateY(-3%);
  }
  48% {
    transform: translateY(0%);
  }
  65% {
    transform: translateY(0%);
  }
  66.5% {
    transform: translateY(-3%);
  }
  68% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(0%);
  }
  86.5% {
    transform: translateY(-3%);
  }
  88% {
    transform: translateY(0%);
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#dot2 {
  animation: dot_animation2 15s infinite;
}

@keyframes dot_animation2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  46% {
    transform: translateY(0%);
  }
  47.5% {
    transform: translateY(-3%);
  }
  49% {
    transform: translateY(0%);
  }
  66% {
    transform: translateY(0%);
  }
  67.5% {
    transform: translateY(-3%);
  }
  69% {
    transform: translateY(0%);
  }
  86% {
    transform: translateY(0%);
  }
  87.5% {
    transform: translateY(-3%);
  }
  89% {
    transform: translateY(0%);
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#dot3 {
  animation: dot_animation3 15s infinite;
}

@keyframes dot_animation3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  47% {
    transform: translateY(0%);
  }
  48.5% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(0%);
  }
  67% {
    transform: translateY(0%);
  }
  68.5% {
    transform: translateY(-3%);
  }
  70% {
    transform: translateY(0%);
  }
  87% {
    transform: translateY(0%);
  }
  88.5% {
    transform: translateY(-3%);
  }
  90% {
    transform: translateY(0%);
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#Line {
  stroke-dasharray: 1050;
  stroke-dashoffset: 1050;
  animation: drawLine 10s infinite forwards;
}

@keyframes drawLine {
  10% {
    stroke-dashoffset: 1050;
  }
  25% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#Brain {
  transform-origin: center left;
  animation: brainPulse 10s infinite forwards;
}

@keyframes brainPulse {
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#node {
  opacity: 0;
  animation: nodes 10s infinite forwards;
}

@keyframes nodes {
  14% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 12vh;
  margin-bottom: 12vh;
  height: auto;
}

.contact_container p {
  align-self: center;
  text-align: left;
}

.contact_map {
  height: 400px;
  width: 400px;
}

.location_animation {
  max-height: 180px;
  max-width: 180px;
  align-self: center;
}

#location_pin {
  transform-origin: center top;
  margin: 10px;
  animation: location_pin 1s ease-in;
}

@keyframes location_pin {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0%);
    transform-origin: center bottom;
  }
  65% {
    transform: scaleY(60%);
  }
  70% {
    transform: scaleY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

#location_pin_shadow {
  position: fixed;
  transform-origin: bottom center;
  animation: pin_shadow 1s ease-in;
}

@keyframes pin_shadow {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.15);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.privacy {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.privacy p {
  text-align: left;
  width: 90vw;
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100px;
  }

  .home_page_logo {
    height: 60px;
    width: auto;
    margin-right: 20px;
  }


  .buttons_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .language-button-homepage {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(225, 225, 225);
    border-radius: 1rem;
    border: 0px;
    position: relative;
  }

  .button-image {
    height: 70px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: #212121;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .footer-menu-list {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
  }

  .footer-menu-options p {
    width: auto;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    text-decoration: none;
    color: rgb(214, 214, 214);
    text-align: center;
    font-family: "Nabla", cursive;
    font-family: "Poppins", sans-serif;
  }

  .footer-menu-options p:hover {
    color: white;
  }

  .footer_logo {
    width: 130px;
    justify-self: center;
    align-self: center;
    height: 120px;
    margin-right: 10px;
  }

  .home {
    height: auto;
  }

  .home h6 {
    display: none;
  }

  .buttons_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .language-button-homepage {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(225, 225, 225);
    border-radius: 1rem;
    border: 0px;
    position: relative;
  }

  .button-image {
    height: 170px;
  }

  .language-button-homepage p {
    font-size: 2vh;
    color: black;
  }

  .language-button-homepage:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
    z-index: 1;

    transform: scale(1.05);
    transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
  }

  .loading {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .language-main {
    justify-content: space-evenly;
  }

  .word {
    border-bottom: black 0.4rem solid;
    border-radius: 8rem;
    background-color: rgb(250, 250, 250);
    padding: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .words-list-item {
    list-style: none;
    background-color: rgb(250, 250, 250);
    border-radius: 4rem;
    margin: 5px;
    padding: 3px;
    font-size: large;
    font-weight: 300;
    font-family: "Nabla", cursive;
    font-family: "Poppins", sans-serif;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .about_paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    height: auto;
    width: 1000px;
    padding-top: 2px;
    border-top: 0px;
  }

  .about_line {
    width: 70vw;
    height: 2px;
    background-color: #6060604f;
    justify-self: center;
    align-self: center;
  }

  .about_paragraph p {
    order: 2;
    color: #3a3a3a;
    width: 340px;
    align-self: center;
    margin-left: 0px;
  }

  .about_icon {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    background-color: rgba(36, 59, 59, 0.11);
  }

  #about_bubble {
    transform-origin: center;
    animation: bubble_animation 10s infinite forwards; /* Added animation properties */
  }

  @keyframes bubble_animation {
    0% {
      transform: rotate(-180deg) scale(0); /* Start position */
    }
    10% {
      transform: rotate(-360deg) scale(1.1);
    }
    20% {
      transform: rotate(-360deg) scale(1); /* End position */
    }
    100% {
      transform: rotate(-360deg) scale(1); /* End position */
    }
  }

  #about_bubble_small {
    transform-origin: center center;
    animation: small_bubble_animation 10s infinite forwards;
  }

  @keyframes small_bubble_animation {
    0% {
      transform: rotate(180deg) scale(0); /* Start position */
    }
    10% {
      transform: rotate(360deg) scale(0.9);
    }
    20% {
      transform: rotate(360deg) scale(1); /* End position */
    }
    100% {
      transform: rotate(360deg) scale(1); /* End position */
    }
  }

  #Line {
    stroke-dasharray: 1050;
    stroke-dashoffset: 1050;
    animation: drawLine 10s infinite forwards;
  }

  @keyframes drawLine {
    10% {
      stroke-dashoffset: 1050;
    }
    25% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  #Brain {
    transform-origin: center left;
    animation: brainPulse 10s infinite forwards;
  }

  @keyframes brainPulse {
    5% {
      transform: scale(1.1);
    }
    10% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  #node {
    opacity: 0;
    animation: nodes 10s infinite forwards;
  }

  @keyframes nodes {
    14% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .contact_container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
  }

  .contact_container p {
    text-align: center;
  }
  
  .contact_map {
    align-self: center;
    max-height: 300px;
    max-width: 300px;
  }
  
  .location_animation {
    align-self: center;
    max-height: 225px;
    max-width: 100px;
  }

  .burger-menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger-menu {
    width: 37px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-line {
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background-color: #000;
    transition: transform 0.3s ease;
  }
  
  .open .burger-line:first-child {
    transform: translateY(10px) rotate(45deg);
  }
  
  .open .burger-line:nth-child(2) {
    opacity: 0;
    align-self: center;
    justify-self: center;
  }
  
  .open .burger-line:last-child {
    transform: translateY(-9px) rotate(-45deg);
    align-self: center;
    justify-self: center;
  }
  
  .burger-menu-background {
    font-size: medium;
    position: relative;
    top: 0%;
    right: 0%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    flex-direction: row;
    align-items: center;
    z-index: 3;
  }
  
  .menu-options {
    font-family: "Nabla", cursive;
    font-family: "Poppins", sans-serif;
    border-radius: 9px;
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px; /* Adds some right margin for spacing */
  }
  
  .menu-options:hover {
    background-color: #21212155;
  }
}
