body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.words-list {
  list-style: none;
  border: orange solid 3px;
  padding: 0;
}

.words-list-item {
  list-style: none;
  border: black solid 3px;
}

.correct-answer{
  border: green solid 3px;
}

.home {
  list-style: none;
}
